@tailwind base;
@tailwind components;
@tailwind utilities;

.banner::-webkit-scrollbar {
  display: none;
}

.banner-data {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.5327380952380952) 0%, rgba(0,0,0,0) 40%);

}
